.saved {
  min-height: calc(100vh - 56px);
  width: 100%;
  margin-top: 56px;
  display: grid;
  color: var(--color-primary);
}
.saved_left {
  background: var(--bg-primary);
  box-shadow: 0 12px 12px var(--shadow-1);
  padding: 10px;
  position: fixed;
  width: 300px;
  height: 100%;
}
.saved_right {
  background: var(--bg-secondary);
  padding: 2rem;
  position: absolute;
  top: 56px;
  left: 300px;
  right: 0;
  width: calc(100% - 300px);
  min-height: calc(100vh - 56px);
}
.saved_left_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.saved_left_header h3 {
  font-size: 21px;
}

@media (max-width: 1000px) {
  .saved_left {
    width: 100px;
  }
  .saved_right {
    left: 100px;
    width: calc(100% - 100px);
  }
}
@media (max-width: 890px) {
  .saved_left {
    display: none;
  }
  .saved_right {
    left: 0px;
    width: 100%;
    padding-right: 13%;
  }
}
@media (max-width: 500px) {
  .saved_right {
    padding: 10px;
  }
}
